.layout-menu-magenta {
    $menuBgColor:#8F3673;
    $menuBgGradient: linear-gradient(300deg, #C03995 0%,#8F3673 100%);
    $rootMenuItemTextColor:rgba(255,255,255,0.8);
    $rootMenuTextColor:rgba(255,255,255,0.6);
    $rootMenuItemHoverBgColor:rgba(0,0,0,0.25);
    $activeRootMenuItemTextColor:white;

    $submenuItemTextColor:rgba(255,255,255,0.8);
    $submenuItemHoverBgColor:rgba(0,0,0,0.25);
    $activeSubmenuItemTextColor:white;

    $externalSubmenuBgColor:white;
    $externalSubmenuItemTextColor:#323537;
    $externalSubmenuItemHoverBgColor:#D8DADC;
    $externalActiveSubmenuItemTextColor:#8F3673;

    $slimActiveRootMenuItemBgColor:white;
    $slimActiveRootMenuItemTextColor:#8F3673;
 
    @import '../_menu_theme';
}

