<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title>Producto
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="single-page" color="light">
  <ion-slides pager="true">
     <ion-slide>
        <img alt="img" class="single-img" src="assets/productos/producto.png">
     </ion-slide>     
  </ion-slides>
  <div class="p-3">
     <div class="mb-2 card p-3 single-page-info">
        <div>
           <div class="single-page-shop">
              <h5 class="mb-1 text-dark">{{item.NOMBRE}}
              </h5>
              <small class="text-secondary">
                 <strong>
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    Cantidad disponible:
                 </strong>
                 {{item.saldo}}
              </small>
              <h6 class="font-weight-bold text-dark mb-3 mt-2">
               Precio: {{item.PRECIOUNITARIO | currency}} <span class="regular-price text-secondary font-weight-normal"></span>
                 <ion-badge color="success">Precio con IVA: {{item.PRECIOIVA | currency}}</ion-badge>
              </h6>
              <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                 <div class="text-success">
                    <ion-icon name="star-outline"></ion-icon>
                    Categoría: {{item.categoria}}
                 </div>                
              </div>
           </div>
        </div>
     </div>
     <div class="mb-2 card p-3 single-page-info">
        <div class="short-description">
           <small class="float-right text-dark"> Descripción:  {{item.DESCRIPCION}} <span class="badge badge-success">{{item.CODIGOPRODUCTO}}</span></small>
           <h6 class="font-weight-bold mb-3 text-dark">
              Detalles adicionales
           </h6>
           <p class="text-secondary"><b>{{getDetallesAdicionales(item.DETALLESADICIONALES)}}</b>
           </p>
        </div>
     </div>
  </div>
</ion-content>
