<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title>Producto
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="single-page" color="light">
  <ion-slides pager="true">
     <ion-slide>
        <img alt="img" class="single-img" src="assets/productos/producto.png">
     </ion-slide>
     <ion-slide>
        <img alt="img" class="single-img" src="assets/productos/producto.png">
     </ion-slide>
     <ion-slide>
        <img alt="img" class="single-img" src="assets/productos/producto.png">
     </ion-slide>
  </ion-slides>
  <div class="p-3">
     <div class="mb-2 card p-3 single-page-info">
        <div>
           <div class="single-page-shop">
              <h5 class="mb-1">{{item.nombreProd}}
              </h5>
              <small class="text-secondary">
                 <strong>
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    Disponible en
                 </strong>
                 - N/A PESO
              </small>
              <h6 class="font-weight-bold text-dark mb-3 mt-2">
                 {{item.costoPro1 | currency}} <span class="regular-price text-secondary font-weight-normal">{{item.costoPro2 | currency}}</span>
                 <ion-badge color="success">% DESCUENTO</ion-badge>
              </h6>
              <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                 <div class="text-success">
                    <ion-icon name="star-outline"></ion-icon>
                    RANKING
                 </div>
                 <div class="input-group shop-cart-value">
                    <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                    <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number" name="quant[1]">
                    <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                    </span>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="mb-2 card p-3 single-page-info">
        <div class="short-description">
           <small class="float-right">Disponibilidad: <span class="badge badge-success">En Stock</span></small>
           <h6 class="font-weight-bold mb-3">
              Vista Rápida
           </h6>
           <p class="text-secondary"><b>Ideal para:</b> Sudado, frito, al vapor, en salsa de mariscos o al horno
           </p>
        </div>
     </div>
  </div>
</ion-content>
<ion-footer class="border-0">
  <button (click)="procesarOrden()"  class="btn btn-primary btn-lg btn-block fix-btn text-left" type="button">
     <span class="float-left">
        <ion-icon name="cart-outline"></ion-icon>
        + Orden Pedido
     </span>
     <span class="float-right">
        <strong>$0.0</strong>
        <ion-icon name="arrow-forward-outline"></ion-icon>
     </span>
  </button>
</ion-footer>