.layout-topbar-blue {
    $topbarBgColor: #2E88FF;
    $topbarBoxShadow: 0 2px 10px 0 rgba(25, 26, 28, 0.12);
    $topbarItemTextColor: #fffffe;
    $topbarItemTextHoverBgColor: rgba(255,255,255,.15);
    $topbarItemBgColor:rgba(255, 255, 255, .15);
    $topbarItemSeparatorBorderColor: rgba(255, 255, 255, .15);
    $topbarItemSubmenuBgColor: #ffffff;
    $topbarItemSubmenuTextColor: #191a1c;
    $topbarItemSubmenuSecondaryTextColor: #8b8e90;
    $topbarItemSubmenuItemHoverBgColor: #EBEDEF;
    $topbarItemSubmenuBoxShadow: 0 2px 8px 0 rgba(25, 26, 28, 0.12);

    @import '../_topbar_theme';
}
