<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title>Localización</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
     <div id="map_canvas" style="height: 90%"></div>
     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
           <ion-icon name="pin"></ion-icon>
        </ion-fab-button>
     </ion-fab>
  </ion-content>