<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Lista Productos
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <ion-searchbar class="p-0 mb-2" #buscador placeholder="Buscar Nombre..." [animated]="true" (keyup.enter)="buscarSearch(buscador.value)"

  ></ion-searchbar>

    <ion-searchbar class="p-0 mb-2" #buscadorCodigo placeholder="Buscar Codigo..."
                   [animated]="true" (keyup.enter)="buscarCodigo(buscadorCodigo.value)"

    ></ion-searchbar>

   <div *ngIf="listaProductos">
  <div class="d-flex p-3 shop-cart-item bg-white mb-2"
   *ngFor=" let item of listaProductos "
  >
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/productos/producto.png">
     </div>
     <div class="shop-cart-right">
        <h6 class="font-weight-bold text-dark mb-2 price">{{item.PRECIOUNITARIO | currency}}
           <span class="regular-price text-secondary font-weight-normal">{{item.PRECIOIVA | currency}}</span></h6>
        <div class="mb-2 text-dark">{{item.NOMBRE}}
        </div>
        <div class="mb-2 text-dark">{{item.DESCRIPCION}}
      </div>
        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
           <small class="text-secondary">{{item.CODIGOPRODUCTO}}</small>
           <div class="input-group shop-cart-value">
              <span class="input-group-btn"><button disabled="disabled"  style="background: white" class="btn btn-sm" type="button"></button></span>
              <input type="text" max="10" min="1" value="" class="form-control border-form-control form-control-sm input-number" name="quant[1]">
              <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
              </span>
           </div>
        </div>
     </div>
  </div>
   </div>

    <div *ngIf="error">
        {{error}}
    </div>

</ion-content>