.profile-box img{
    width: 130px;
    height: 130px;
}

.my-profile-page .list-group-item {
    font-size: 13px;
    padding: 1px 10px;
}

.datos-cliente{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}