$fontFamily:'IBM Plex Sans' !default;
$fontSize:13px !default;
$textColor:#191a1c !default;
$textSecondaryColor:#525557 !default;
$borderRadius:4px !default;
$transitionDuration:.2s !default;
$bodyBgColor:#f8fafc !default;
$dividerColor:#dee2e6 !default;
$tabletBreakpoint: 991px !default;
$phoneBreakpoint: 576px !default;

$menuShadow: 0 2px 10px 0 rgba(25, 26, 28, 0.12) !default;
$menuTooltipBgColor:#354045 !default;
$menuTooltipTextColor:#ffffff !default;